* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body{
    background:url(image.jpg) no-repeat;
    width:100%;
    height:100%;	
    background-size:calc(100% + 50px);
}


div.logo{
	position:relative;
	left:10px;
	padding:20px; 
	text-align:left;
	float: left;
	display:inline;
    z-index: 1;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
 }

@-webkit-keyframes example {
 	0%   {left:0px}
    50%  {left:200px}
    100% {right:200px}
}
@keyframes example {
    0%   {left:0px}
    50%  {left:200px}
    100% {right:200px}
}

input[type=text], input[type=password], select {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 15px; 
    width: 50%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: rgb(102, 255, 102)
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:50%;
    border-radius: 25px;
    border: 2px solid #73AD21;
}
button:hover{
    opacity: 0.8;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: block;
    position: fixed; 
  
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    
    background-color: rgba(204, 51, 255,0.3); 
    padding-top: 60px;
}   

.modal-content {
    background-color: rgba(255, 0, 191,0.1);
    margin: 5% auto 15% auto;
    width: 50%;
}